USE [Blood Bank]
GO
/****** Object:  Table [dbo].[Blood]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blood](
	[bld_id] [int] NOT NULL,
	[bld_grp] [varchar](5) NOT NULL,
	[bld_cells] [nvarchar](100) NULL,
	[bld_bank] [nvarchar](200) NULL,
	[bld_desc] [nvarchar](500) NULL,
 CONSTRAINT [PK__Blood__CACE6F56CD1DA3C3] PRIMARY KEY CLUSTERED 
(
	[bld_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodIssue]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodIssue](
	[issue_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NULL,
	[stk_id] [int] NULL,
	[issue_date] [datetime] NULL,
	[issued_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[issue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodRequest]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodRequest](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[pat_id] [int] NULL,
	[required_blood_group] [varchar](5) NOT NULL,
	[urgency_id] [int] NULL,
	[request_date] [datetime] NULL,
	[hospital_name] [nvarchar](200) NULL,
	[status] [nvarchar](50) NULL,
	[bld_id] [int] NULL,
	[stk_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodScreening]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodScreening](
	[screening_id] [int] IDENTITY(1,1) NOT NULL,
	[donr_id] [int] NULL,
	[screening_date] [date] NULL,
	[has_hiv_aids] [bit] NULL,
	[has_hepatitis] [bit] NULL,
	[has_other_disease] [bit] NULL,
	[is_eligible_to_donate] [bit] NULL,
	[screening_remark] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[screening_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodStock]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodStock](
	[stk_id] [int] IDENTITY(1,1) NOT NULL,
	[donr_id] [int] NULL,
	[bld_grp] [varchar](5) NULL,
	[donation_date] [date] NULL,
	[expiry_date] [date] NULL,
	[stk_num] [varchar](50) NULL,
	[stk_status] [nvarchar](50) NULL,
	[bld_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donor]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donor](
	[donr_id] [int] IDENTITY(1,1) NOT NULL,
	[donr_name] [nvarchar](200) NOT NULL,
	[donr_add] [nvarchar](500) NULL,
	[donr_mobile] [varchar](20) NULL,
	[donr_email] [varchar](100) NULL,
	[blood_group] [varchar](5) NULL,
	[last_donated_date] [date] NULL,
	[bld_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[donr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[pat_id] [int] IDENTITY(1,1) NOT NULL,
	[pat_name] [nvarchar](200) NOT NULL,
	[pat_mobile] [varchar](20) NULL,
	[pat_email] [varchar](100) NULL,
	[pat_add] [nvarchar](500) NULL,
	[pat_pass] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[pat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[role_desc] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urgency]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urgency](
	[urgency_id] [int] NOT NULL,
	[urgency_name] [nvarchar](50) NULL,
	[priority_score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[urgency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/18/2026 9:02:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](200) NOT NULL,
	[user_mobile] [varchar](20) NULL,
	[user_email] [varchar](100) NULL,
	[user_address] [nvarchar](500) NULL,
	[login_username] [varchar](50) NULL,
	[user_password] [varchar](255) NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Blood] ([bld_id], [bld_grp], [bld_cells], [bld_bank], [bld_desc]) VALUES (1, N'A+', N'RBC', N'ရန်ကုန်သွေးဘဏ်', N'အနီရောင်ဆဲလ်')
INSERT [dbo].[Blood] ([bld_id], [bld_grp], [bld_cells], [bld_bank], [bld_desc]) VALUES (2, N'B+', N'Plasma', N'ရန်ကုန်သွေးဘဏ်', N'သွေးရည်ကြည်')
INSERT [dbo].[Blood] ([bld_id], [bld_grp], [bld_cells], [bld_bank], [bld_desc]) VALUES (3, N'O+', N'Platelets', N'ရန်ကုန်သွေးဘဏ်', N'သွေးဥမွှား')
GO
SET IDENTITY_INSERT [dbo].[BloodIssue] ON 

INSERT [dbo].[BloodIssue] ([issue_id], [request_id], [stk_id], [issue_date], [issued_by]) VALUES (1, 1, 1, CAST(N'2026-05-13T15:30:00.000' AS DateTime), 1)
INSERT [dbo].[BloodIssue] ([issue_id], [request_id], [stk_id], [issue_date], [issued_by]) VALUES (2, 2, 7, CAST(N'2026-05-13T16:00:00.000' AS DateTime), 1)
INSERT [dbo].[BloodIssue] ([issue_id], [request_id], [stk_id], [issue_date], [issued_by]) VALUES (3, 3, 2, CAST(N'2026-05-13T16:45:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[BloodIssue] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodRequest] ON 

INSERT [dbo].[BloodRequest] ([request_id], [pat_id], [required_blood_group], [urgency_id], [request_date], [hospital_name], [status], [bld_id], [stk_id]) VALUES (1, 1, N'A+', 3, CAST(N'2026-05-13T14:25:02.720' AS DateTime), N'ရန်ကုန်ပြည်သူ့ဆေးရုံကြီး', N'Completed', 1, 1)
INSERT [dbo].[BloodRequest] ([request_id], [pat_id], [required_blood_group], [urgency_id], [request_date], [hospital_name], [status], [bld_id], [stk_id]) VALUES (2, 2, N'O+', 1, CAST(N'2026-05-13T14:25:02.720' AS DateTime), N'မန္တလေးဆေးရုံကြီး', N'Completed', 3, 7)
INSERT [dbo].[BloodRequest] ([request_id], [pat_id], [required_blood_group], [urgency_id], [request_date], [hospital_name], [status], [bld_id], [stk_id]) VALUES (3, 3, N'B+', 2, CAST(N'2026-05-13T14:25:02.720' AS DateTime), N'နေပြည်တော်ဆေးရုံ', N'Completed', 2, 2)
SET IDENTITY_INSERT [dbo].[BloodRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodScreening] ON 

INSERT [dbo].[BloodScreening] ([screening_id], [donr_id], [screening_date], [has_hiv_aids], [has_hepatitis], [has_other_disease], [is_eligible_to_donate], [screening_remark]) VALUES (1, 1, CAST(N'2026-05-13' AS Date), 0, 0, 0, 1, N'ကျန်းမာရေးကောင်းမွန်')
INSERT [dbo].[BloodScreening] ([screening_id], [donr_id], [screening_date], [has_hiv_aids], [has_hepatitis], [has_other_disease], [is_eligible_to_donate], [screening_remark]) VALUES (2, 2, CAST(N'2026-05-13' AS Date), 0, 0, 0, 1, N'ကျန်းမာရေးကောင်းမွန်')
INSERT [dbo].[BloodScreening] ([screening_id], [donr_id], [screening_date], [has_hiv_aids], [has_hepatitis], [has_other_disease], [is_eligible_to_donate], [screening_remark]) VALUES (3, 3, CAST(N'2026-05-13' AS Date), 1, 0, 0, 0, N'HIV Positive တွေ့ရှိသဖြင့် ပယ်ဖျက်သည်')
SET IDENTITY_INSERT [dbo].[BloodScreening] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodStock] ON 

INSERT [dbo].[BloodStock] ([stk_id], [donr_id], [bld_grp], [donation_date], [expiry_date], [stk_num], [stk_status], [bld_id]) VALUES (1, 1, N'A+', CAST(N'2026-05-10' AS Date), CAST(N'2026-06-15' AS Date), N'BAG-001', N'ထုတ်ပေးပြီး', 1)
INSERT [dbo].[BloodStock] ([stk_id], [donr_id], [bld_grp], [donation_date], [expiry_date], [stk_num], [stk_status], [bld_id]) VALUES (2, 2, N'B+', CAST(N'2026-05-11' AS Date), CAST(N'2026-06-16' AS Date), N'BAG-002', N'ထုတ်ပေးပြီး', 2)
INSERT [dbo].[BloodStock] ([stk_id], [donr_id], [bld_grp], [donation_date], [expiry_date], [stk_num], [stk_status], [bld_id]) VALUES (3, 5, N'O-', CAST(N'2026-05-12' AS Date), CAST(N'2026-06-17' AS Date), N'BAG-003', N'ထုတ်ပေးပြီး', 5)
SET IDENTITY_INSERT [dbo].[BloodStock] OFF
GO
SET IDENTITY_INSERT [dbo].[Donor] ON 

INSERT [dbo].[Donor] ([donr_id], [donr_name], [donr_add], [donr_mobile], [donr_email], [blood_group], [last_donated_date], [bld_id]) VALUES (1, N'ဦးလှမောင်', N'အင်းစိန်၊ ရန်ကုန်', N'09777111222', NULL, N'A+', CAST(N'2025-12-10' AS Date), 1)
INSERT [dbo].[Donor] ([donr_id], [donr_name], [donr_add], [donr_mobile], [donr_email], [blood_group], [last_donated_date], [bld_id]) VALUES (2, N'ဒေါ်မြမြ', N'လှိုင်၊ ရန်ကုန်', N'09777333444', NULL, N'B+', CAST(N'2026-01-15' AS Date), 2)
INSERT [dbo].[Donor] ([donr_id], [donr_name], [donr_add], [donr_mobile], [donr_email], [blood_group], [last_donated_date], [bld_id]) VALUES (3, N'ကိုဇော်ဝင်း', N'တောင်ဥက္ကလာ၊ ရန်ကုန်', N'09777555666', NULL, N'O+', CAST(N'2026-02-20' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Donor] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([pat_id], [pat_name], [pat_mobile], [pat_email], [pat_add], [pat_pass]) VALUES (1, N'ဦးမောင်မောင်', N'09999111222', N'mgmg@gmail.com', N'ရန်ကုန်', N'pass123')
INSERT [dbo].[Patient] ([pat_id], [pat_name], [pat_mobile], [pat_email], [pat_add], [pat_pass]) VALUES (2, N'ဒေါ်အေး', N'09999333444', N'aye@gmail.com', N'မန္တလေး', N'pass123')
INSERT [dbo].[Patient] ([pat_id], [pat_name], [pat_mobile], [pat_email], [pat_add], [pat_pass]) VALUES (3, N'ကိုအောင်', N'09999555666', N'aung@gmail.com', N'နေပြည်တော်', N'pass123')
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name], [role_desc]) VALUES (1, N'Admin', N'စနစ်တစ်ခုလုံးကို ထိန်းချုပ်သူ')
INSERT [dbo].[Roles] ([role_id], [role_name], [role_desc]) VALUES (2, N'Doctor', N'သွေးစစ်ဆေးမှုနှင့် ကျန်းမာရေးဆုံးဖြတ်ချက်ချသူ')
INSERT [dbo].[Roles] ([role_id], [role_name], [role_desc]) VALUES (3, N' Lab Staff', N'သွေးစစ်ဆေးသူ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Urgency] ([urgency_id], [urgency_name], [priority_score]) VALUES (1, N'ပုံမှန်', 1)
INSERT [dbo].[Urgency] ([urgency_id], [urgency_name], [priority_score]) VALUES (2, N'အရေးကြီး', 5)
INSERT [dbo].[Urgency] ([urgency_id], [urgency_name], [priority_score]) VALUES (3, N'အရေးပေါ်', 10)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_name], [user_mobile], [user_email], [user_address], [login_username], [user_password], [role_id]) VALUES (1, N'ဦးကျော်ကျော်', N'09444000111', N'kyawkyaw@gmail.com', N'ရန်ကုန်', N'admin01', N'pass123', 1)
INSERT [dbo].[Users] ([user_id], [user_name], [user_mobile], [user_email], [user_address], [login_username], [user_password], [role_id]) VALUES (2, N'ဒေါက်တာအေးအေး', N'09444000222', N'ayeaye@gmail.com', N'ရန်ကုန်', N'doctor01', N'pass123', 2)
INSERT [dbo].[Users] ([user_id], [user_name], [user_mobile], [user_email], [user_address], [login_username], [user_password], [role_id]) VALUES (3, N'မဆုမြတ်', N'09444000333', N'su@gmail.com', N'မန္တလေး', N'staff01', N'pass123', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__FFAF56C4CF68CC67]    Script Date: 5/18/2026 9:02:32 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[login_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BloodIssue] ADD  DEFAULT (getdate()) FOR [issue_date]
GO
ALTER TABLE [dbo].[BloodRequest] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[BloodRequest] ADD  DEFAULT (N'Pending') FOR [status]
GO
ALTER TABLE [dbo].[BloodScreening] ADD  DEFAULT (getdate()) FOR [screening_date]
GO
ALTER TABLE [dbo].[BloodScreening] ADD  DEFAULT ((0)) FOR [has_hiv_aids]
GO
ALTER TABLE [dbo].[BloodScreening] ADD  DEFAULT ((0)) FOR [has_hepatitis]
GO
ALTER TABLE [dbo].[BloodScreening] ADD  DEFAULT ((0)) FOR [has_other_disease]
GO
ALTER TABLE [dbo].[BloodStock] ADD  DEFAULT (N'ရရှိနိုင်သည်') FOR [stk_status]
GO
ALTER TABLE [dbo].[BloodIssue]  WITH CHECK ADD FOREIGN KEY([issued_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BloodIssue]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[BloodRequest] ([request_id])
GO
ALTER TABLE [dbo].[BloodIssue]  WITH CHECK ADD FOREIGN KEY([stk_id])
REFERENCES [dbo].[BloodStock] ([stk_id])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD FOREIGN KEY([pat_id])
REFERENCES [dbo].[Patient] ([pat_id])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD FOREIGN KEY([urgency_id])
REFERENCES [dbo].[Urgency] ([urgency_id])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD  CONSTRAINT [FK_BloodRequest_Blood] FOREIGN KEY([bld_id])
REFERENCES [dbo].[Blood] ([bld_id])
GO
ALTER TABLE [dbo].[BloodRequest] CHECK CONSTRAINT [FK_BloodRequest_Blood]
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD  CONSTRAINT [FK_Request_Stock] FOREIGN KEY([stk_id])
REFERENCES [dbo].[BloodStock] ([stk_id])
GO
ALTER TABLE [dbo].[BloodRequest] CHECK CONSTRAINT [FK_Request_Stock]
GO
ALTER TABLE [dbo].[BloodScreening]  WITH CHECK ADD FOREIGN KEY([donr_id])
REFERENCES [dbo].[Donor] ([donr_id])
GO
ALTER TABLE [dbo].[BloodStock]  WITH CHECK ADD FOREIGN KEY([donr_id])
REFERENCES [dbo].[Donor] ([donr_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
